<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.label :email %><br>
    <%= f.text_field :email, :class => 'form-control', :required => 'true', :type => 'email'%>

  <div class="field">
    <%= f.label :password %><br>
      <%= f.password_field :password, :class => 'form-control', :required => 'true' %>
  </div>
  <div class="field">
    <%= f.label :firstname, 'First Name' %><br>
    <%= f.text_field :firstname, :class => 'form-control', :required => 'true', :type => 'name'%>
  </div>
  <div class="field">
    <%= f.label :lastname, 'Last Name' %><br>
    <%= f.text_field :lastname, :class => 'form-control', :required => 'true' , :type => 'name'%>
  </div>
  <div class="field">
    <%= f.label :your_phone, 'Your Phone Number' %><br>
    <%= f.phone_field :my_num, :class => 'form-control', :required => 'true', :type =>'tel',
        :pattern =>'^(\+\d{1,2}\s)?\(?\d{3}\)?[\s.-]\d{3}[\s.-]\d{4}$', :placeholder => 'Ex. 123-123-1234'%>
  </div>
  <div class="field">
      <%= f.label :Emergency_Contact, "Emergency Contact's Phone Number" %><br>
    <%= f.phone_field :e_num1, :class => 'form-control', :required => 'true', :type =>'tel',
        :pattern =>'^(\+\d{1,2}\s)?\(?\d{3}\)?[\s.-]\d{3}[\s.-]\d{4}$', :placeholder => 'Ex. 123-123-1234'%>
  </div>
  <div class="actions">
    <%= f.submit :class => 'btn btn-success', :style => 'margin:0 auto;' %>
  </div>
<% end %>
