<p>
  <strong>Firstname:</strong>
  <%= @user.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @user.lastname %>
</p>

<p>
  <strong>My Phone:</strong>
  <%= @user.my_num %>
</p>

<p>
  <strong>Emergency_Contact's Phone:</strong>
  <%= @user.e_num1 %>
</p>



<%= link_to 'Edit', edit_user_path(@user) %>
