 <%=render 'layouts/navbar'%>
 
 <% flash.each do |name, msg| %>
 <%= content_tag(:div, msg, class: "alert alert-warning") %>
 <% end %>
 
<header>
    <%=render 'layouts/header'%>
  </header>
  
  <section class="bg-primary" id="about">
    <%=render 'layouts/about'%>
  </section>
  
  <section id="howitworks">
    <%=render 'layouts/howitworks'%>
  </section><!-- End of #howitworks -->
  
  <aside class="bg-dark" id='login'>
    <div class="container text-center">
      <div class="call-to-action">
        <h1>Log In</h1>
        <%= form_tag("/session", method: "create",:style => 'color:black;') do %>
          <%= text_field_tag(:email,nil, :class => 'form-control', :placeholder => 'Email')%><br>
          <%= password_field_tag(:password,nil, :class => 'form-control', :placeholder => 'Password')%><br>
          <%= submit_tag("Login", :class =>'btn btn-lg btn-default') %>
        <% end %>
      </div>
    </div>
  </aside>

