<p id="notice"><%= notice %></p>

<p>
  <strong>User xid:</strong>
  <%= @pubsub.user_xid %>
</p>

<p>
  <strong>Type:</strong>
  <%= @pubsub.type %>
</p>

<p>
  <strong>Action:</strong>
  <%= @pubsub.action %>
</p>

<p>
  <strong>Timestamp:</strong>
  <%= @pubsub.timestamp %>
</p>

<%= link_to 'Edit', edit_pubsub_path(@pubsub) %> |
<%= link_to 'Back', pubsubs_path %>
