<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Safeme</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
    
  
    <!-- Bootstrap Core CSS
    <link rel="stylesheet" href="assets/stylesheets/bootstrap.css" type="text/css">  -->

    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <!--link rel="stylesheet" href="assets/font-awesome/css/font-awesome.min.css" type="text/css" -->

    <!-- Plugin CSS 
    <link rel="stylesheet" href="stylesheets/animate.min.css" type="text/css"> -->

    <!-- Custom CSS 
    <link rel="stylesheet" href="stylesheets/creative.css" type="text/css"> -->

    <%=render 'layouts/shim'%>
</head>

<body id="page-top">

  <%=render 'layouts/navbar'%>
    <header>
        <div class="header-content">
            <div class="header-content-inner">
              <%=image_tag 'band-image.jpg'%>
                <h1>Welcome to Safeme</h1>
                <hr>
                <p>Make your Jawbone UP24 band emergency alert system</p>
                <a href="#about" class="btn btn-default btn-xl page-scroll">Learn More</a>
                <%=link_to 'Signup via Jawbone', "https://jawbone.com/auth/oauth2/auth?response_type=code&client_id=Xv1L6lEDVng&scope=basic_read move_read  sleep_read&redirect_uri=http://safeme.herokuapp.com/static/connect", :class => 'btn btn-success btn-xl page-scroll'%>    
            </div>
        </div>
    </header>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">We've got what you need!</h2>
                    <hr class="light">
                    <p class="text-faded">Start Bootstrap has everything you need to get your new website up and running in no time! All of the templates and themes on Start Bootstrap are open source, free to download, and easy to use. No strings attached!</p>
                    <a href="#" class="btn btn-default btn-xl">Get Started!</a>
                </div>
            </div>
        </div>
    </section>

    <section id="howitworks">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">At Your Service</h2>
                      <section class="no-padding" id="portfolio">
        <div class="container-fluid">
            <div class="row no-gutter">
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <%=image_tag "1.jpg", :class => "img-responsive"%>
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                         <%=image_tag "2.jpg", :class => "img-responsive"%>
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                         <%=image_tag "3.jpg", :class => "img-responsive"%>
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>               
    </section>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                        <h3>Sturdy Templates</h3>
                        <p class="text-muted">Our templates are updated regularly so they don't break.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                        <h3>Ready to Ship</h3>
                        <p class="text-muted">You can use this theme as is, or you can make changes!</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                        <h3>Up to Date</h3>
                        <p class="text-muted">We update dependencies to keep things fresh.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                        <h3>Made with Love</h3>
                        <p class="text-muted">You have to make your websites with love these days!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

  

    <aside class="bg-dark" id='login'>
        <div class="container text-center">
            <div class="call-to-action">
              <h1>Log In</h1>
              <%= form_tag("/session", method: "create",:style => 'color:black;') do %>
                  <%= label_tag(:email, "Email:") %>
                  <%= text_field_tag(:email,nil, :class => 'form-control')%>
                  <%= label_tag(:password, "Password:") %>
                  <%= password_field_tag(:password,nil, :class => 'form-control')%><br>
                  <%= submit_tag("Login", :class =>'btn btn-lg btn-default') %>
              <% end %>
            </div>
        </div>
    </aside>

</body>

</html>
